*{
    margin: 0;
    background-color: rgb(4, 234, 157);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.signup{
    padding: 50px;
    border-radius: 10px;
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.signup h2{
    text-align: center;
}
.signup button{
     border-radius: 8px;
     height: 30px;
     width: 60px;
    
}   
.signup-form{
    padding-top: 10px;
    
}
.signup-form input{
    border-radius: 5px;
    height: 20px;
    margin-bottom: 20px;
}
.signup button{
    border-radius: 8px;
    height: 30px;
    width: 60px;
}